header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
            |YouTube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="  검색" name="term")
    .header__column
        ul 
            //-passport가 user object로 만들어줌
            if !user  
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Log In
            else 
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) My Profile
                li 
                    a(href=routes.logout) Logout